@charset "utf-8";

section#articles article.article{
	float: left;
	width: 460px;
	margin: 10px;
}
section#articles:after{
	display: block;
	content: "";
	clear: both;
}
p.description{
	font-family: "Lucida Grande", Tahoma;
	font-size: 1.4em;
	font-weight: lighter;
	text-transform: uppercase;
	color: #9a9a9a;
	margin-top: -3.0em;
	text-align: center!important;
	letter-spacing: 0.3em;
}
aside{
	float: left;
	margin: 0 20px 20px 0;
}
aside time{
	display: block;
	width: 100px;
	height: 100px;
	margin: 0;
	text-align: center;
}
aside time span.day{
	display: block;
	font-size: 80px;
}
aside time span.month,
aside time span.year{
	font-size: 20px;
}
aside time span.month:after{
	content: ", ";
	font-size: 20px;
}
aside time span a{
	text-decoration: none;
	color: #8a8a8a;
}
aside time span a:hover{
	color: #3a3a3a;
}
section.content{
	margin: 0 0 0 120px;
	padding: 0 20px;
}
section.content:after{
	display: block;
	content: "";
	clear:both;
}
/* nav#controlelr */
nav#controller ul li#controller-create-article a{
	background: url(/css/image/Add.png) no-repeat;
}