@charset "utf-8";

section#thumbnail{
	text-align: center;
}
p.download{
	display: block;
	text-align: center;
}
table{
	margin: 0 auto;
}
nav#controller ul li#controller-create-material a{
	background: url(/css/image/Add.png) no-repeat;
}
nav#controller ul li#controller-update-material a{
	background: url(/css/image/Pencil.png) no-repeat;
}
nav#controller ul li#controller-delete-material a{
	background: url(/css/image/Delete.png) no-repeat;
}