@charset "utf-8";

.showgrid{
	background: url(/image/grid.png) repeat-y 50% 0;
}
.container {
	position: relative;
	width: 978px;
	margin: 0 auto;
}
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11 {
	float: left;
	margin-left: 30px;
}
.grid1 {
	width: 54px;
}
.grid2 {
	width: 138px;
}
.grid3 {
	width: 222px;
}
.grid4 {
	width: 306px;
}
.grid5 {
	width: 390px;
}
.grid6 {
	width: 474px;
}
.grid7 {
	width: 558px;
}
.grid8 {
	width: 642px;
}
.grid9 {
	width: 726px;
}
.grid10 {
	width: 810px;
}
.grid11 {
	width: 894px;
}
.grid12 {
	width: 978px;
}
.first {
	margin-left: 0;
	clear: left;
}
.prefix1 {
	margin-left: 84px;
}
.prefix2 {
	margin-left: 168px;
}
.prefix3 {
	margin-left: 252px;
}
.prefix4 {
	margin-left: 336px;
}
.prefix5 {
	margin-left: 420px;
}
.prefix6 {
	margin-left: 504px;
}
.prefix7 {
	margin-left: 588px;
}
.prefix8 {
	margin-left: 672px;
}
.prefix9 {
	margin-left: 756px;
}
.prefix10 {
	margin-left: 840px;
}
.prefix11 {
	margin-left: 924px;
}
.suffix1 {
	margin-right: 84px;
}
.suffix2 {
	margin-right: 168px;
}
.suffix3 {
	margin-right: 252px;
}
.suffix4 {
	margin-right: 336px;
}
.suffix5 {
	margin-right: 420px;
}
.suffix6 {
	margin-right: 504px;
}
.suffix7 {
	margin-right: 588px;
}
.suffix8 {
	margin-right: 672px;
}
.suffix9 {
	margin-right: 756px;
}
.suffix10 {
	margin-right: 840px;
}
.suffix11 {
	margin-right: 924px;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}