@charset "utf-8";

nav#controller ul li#controller-top a{
	background: url(/css/image/Top.png) no-repeat;
}
nav#controller ul li#controller-bottom a{
	background: url(/css/image/Bottom.png) no-repeat;
}
nav#controller ul li#controller-admin a{
	background: url(/css/image/Wrench.png) no-repeat;
}
nav#controller ul li#controller-login a{
	background: url(/css/image/Lock.png) no-repeat;
}
nav#controller ul li#controller-logout a{
	background: url(/css/image/Unlock.png) no-repeat;
}