<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>Hashnote - {% block title %}Everyday's working memory{% endblock %}</title>
		<!--[if lt IE 9]>
		<script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE9.js"></script>
		<![endif]-->
		{% compressed_css 'default' %}
		{% compressed_js 'default' %}
		{% compressed_css 'full-default' %}
		{% compressed_js 'full-default' %}
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<a name="top" id="top"></a>
		{% if request.path == '/' %}
		<header>
			<figure>
				<h1><a href="/">Hashnote</a></h1>
				<span class="subscript">Everyday's working memory</span>
			</figure>
		</header>
		<hr class="hide">
		{% else %}
		<nav id="breadcrumbs">
			<span class="hide">Breadcrumbs:</span>
			<a href="/">Hashnote</a>
			{% block breadcrumbs %}
			{% endblock %}
		</nav>
		<hr class="hide">
		{% endif %}
		<section id="content">
			{% block content %}
			{% endblock %}
		</section>
		<hr class="hide">
		<nav id="navigation">
			<ul class="hlist">
				<li id="home"><a href="/">Home<span class="subscript">Back to the root</span></a></li>
				<li id="storage"><a href="{% reverse 'storage_material_list' %}">Storage<span class="subscript">uploaded materials</span></a></li>
			</ul>
		</nav>
		<hr class="hide">
		<nav id="controller">
			<ul>
				{% block controller %}
				{% endblock %}
				<li id="controller-top"><a href="#top" title="Top of the page">Top</a></li>
				<li id="controller-bottom"><a href="#bottom" title="Bottom of the page">Bottom</a></li>
				{% if user.is_authenticated %}
				<li id="controller-admin"><a href="{% reverse 'admin:index' %}" title="Visit Admin site" target="_blank">Preference</a></li>
				<li id="controller-logout"><a href="{% reverse 'logout' %}" title="Logout">Logout</a></li>
				{% else %}
				<li id="controller-login"><a href="{% reverse 'login' %}" title="Login">Login</a></li>
				{% endif %}
			</ul>
		</nav>
		<hr class="hide">
		<footer>
		<address>Thanks for <a href="http://www.webdesignerdepot.com">Webdesigner Depot</a>'s very nice icon. <br />Copyright &copy; 2009-{% now "Y" %} Alisue allright reserved.</address>
		</footer>
		<a name="bottom" id="bottom"></a>
	</body>
</html>
