{% extends "storage/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Confirm" %}
{% endblock %}

{% block content %}
<h1>{% trans "Confirm" %}</h1>
<p class="description">Confirm of deleting "{{ object.title|truncateletters:20 }}"</p>
<p>{% trans "Are you sure to remove this material?" %}</p>

<form action="" method="post">{% csrf_token %}
	<p><input type="submit" value="{% trans 'Yes' %}" /> or <a href="javascript:void();" onclick="history.back();">{% trans 'cancel' %}</a></p>
</form>
{% endblock %}
