@charset "utf-8";

.hide{
	display: none;
}
.addthis_toolbox{
	margin: 20px auto;
	height: 37px;
}
div.note{
    padding: 5px;
    border-radius: 4px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    background: #ffffcc;
    border: 1px solid #dedede;
    font-size: 90%;
}

/* markItUp ------------------------------------- */
div.markItUp,
div.markItUp textarea{
	width: 956px !important;
}

/* CodeMirror ----------------------------------- */
div.CodeMirror-wrapping{
	border: 1px solid #efefef !important;
}
div.CodeMirror-wrapping:focus{
	border: 1px solid #dedede !important;
}
