@charset "utf-8";

.hide{
	display: none;
}
.addthis_toolbox{
	margin: 20px auto;
	height: 37px;
}

/* markItUp ------------------------------------- */
div.markItUp,
div.markItUp textarea{
	width: 956px !important;
}

/* CodeMirror ----------------------------------- */
div.CodeMirror-wrapping{
	border: 1px solid #efefef !important;
}
div.CodeMirror-wrapping:focus{
	border: 1px solid #dedede !important;
}
