@charset "utf-8";
body{
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 10px 10px 0 10px;
}

/* header --- */
header figure{
	display: block;
	background: url(/image/Logo.png) no-repeat;
	width: 320px;
	height: 53px;
	margin: 150px auto;
	text-indent: -10000px;
}

/* nav#breadcrumbs --- */
nav#breadcrumbs {
	display: block;
	position: relative;
	margin-top: 7px;
	margin-bottom: 50px;
	padding: 4px 0;
	font-size: 1.1em;
	color: #dedede;
}
nav#breadcrumbs a{
	text-decoration: none;
	color: #dedede;C
}
nav#breadcrumbs a:hover{
	color: #ababab;
}

/* section#cotent */
section#content{}

/* nav#navigation */
nav#navigation{
	position: absolute;
	top: 3px;
	width: 100%;
	height: 15px;
	border-bottom: 1px solid #efefef;
}
nav#navigation ul{
	display: block;
}
nav#navigation ul li a{
	display: block;
	margin: 0 3em 0 0;
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	font-size: 1.0em;
	color: #8a8a8a;
	text-decoration: none;
	letter-spacing: 0.15em;
}
nav#navigation ul li a:hover{
	color: #000000;
}
nav#navigation ul li span.subscript{
	display: none;
}
/* nav#controler */
nav#controller{
	position: fixed;
	top: 0; right: 0;
	padding: 10px 10px 4px 4px;
	background: #ffffff;
	-moz-border-radius: 5px;
}
nav#controller ul li{
	display: inline-block;
}
nav#controller ul li a{
	display: block;
	height: 16px;
	/*padding: 0 0 0 20px;
	background-position: 0 50%;*/
	width: 16px;
	text-indent: -10000px;
	outline: none;
}
nav#controller ul li a:hover{
	background-position: 0 -16px !important;
}
/* footer */
footer{
	margin: 100px 0 0 0;
}
footer address{
	display: block;
	text-align: center;
}
