@charset "utf-8";

section#sharebox-top div.addthis_toolbox{
	float: left;
	margin: 10px 0; padding: 0;
}
section#tags-top{
	float: right;
	margin: 10px 0;
}
section#tags-top nav ul:before{
	display: inline-block;
	content: url(/css/image/Tag.png);
	width: 16px; height: 16px;
	vertical-align: middle;
}
section#tags-top nav ul li.tag{
	display: inline-block;
	margin: 0 0 5px 5px;
	border: 1px solid #dedede;
	-moz-border-radius: 3px;
}
section#tags-top nav ul li.tag a{
	display: block;
	padding: 4px 10px;
	font-size: 0.8em;
	text-decoration: none;
}
article.body{
	clear: both;
}
article.body div#toc{
	float: right;
	width: 300px;
	margin: 0 0 20px 20px;
	padding: 10px;
	background: #f0f0f0;
	border: 1px dotted #dedede;
}
article.body div#toc h2{
	display: none;
}
article.body *:last-child{
	margin-bottom: 0;
}
article.body:after{
	display: block;
	content: "";
	clear: both;
}
#id_title{
	width: 90%;
}
#id_body{
	width: 100%;
	height: 500px;
}
nav#controller ul li#controller-create-article a{
	background: url(/css/image/Add.png) no-repeat;
}
nav#controller ul li#controller-update-article a{
	background: url(/css/image/Pencil.png) no-repeat;
}
nav#controller ul li#controller-delete-article a{
	background: url(/css/image/Delete.png) no-repeat;
}