@charset "utf-8";

section#content form p{
	text-align: center;
}
section#content input#id_q{
	width: 502px;
	border: 1px solid #dedede;
}

section#content section#result p.empty{
	text-align: center;
}
section#content section#result figure{
	position: relative;
	width: 136px;
	height: 136px;
	border: 1px solid #dedede;
}
section#content section#result article{
	margin-bottom: 5.0em;
}
section#content section#result article figure{
	position: relative;
	background: url(/css/image/loading.gif) no-repeat 50% 50%;
}
section#content section#result article figure a{
	display: block;
	position: absolute;
	top: 0; left: 0;
	z-index: 100;
	width: 138px;
	height: 138px;
	text-indent: -10000px;
	outline: none;
}
section#content section#result article figure iframe{
	width: 680px;
	height: 680px;
	
	-moz-transform: scale(0.2);
	-moz-transform-origin: 0 0;
	overflow: hidden;
}
